@import "index.css";

body {
	width: 100vw;
	height: 100vh;
}

body::before {
	content: '';
	background-image: 
		/* top, transparent black, faked with gradient */ 
		linear-gradient(
			rgba(0, 0, 0, 0.3), 
			rgba(0, 0, 0, 0.3)
		),
		/* bottom, image */
		url("../../public_html/img/oleksii-s-O2kqxbix4Mw-unsplash.jpg");
  background-size: cover;

	position: absolute;
	width: max(100vw, 300px);
	height: 100vh;

	top: 0;
	left: 0;

	z-index: -1;
}

main {
	background-color: white;

	width: 700px;

	display: flex;
	flex-direction: row;

	/* border-radius: 15px 15px 15px 15px; */

	margin-top: auto;
	margin-bottom: auto;
}

main > section {
	flex-grow: 1;
	margin: 5px;
}

main > section > form {
	display: flex;
	flex-direction: column;
}

main > section > form > *:not(:last-child) {
	margin-bottom: 3px;
}